<div id="login">
    <div id="fb-root"></div>
    <a id="fb-login-button" class="btn primary" data-loading-text="Realizando login...">Login with Facebook</a>
</div>

<div class="span4">
    <h3>Pessoas Online</h3>
    <ul id="contact-list"></ul>
</div>
<div class="span10">
    <h3>Chat</h3>
    <ul id="chat-content">
    </ul>
</div>
