<div id="login">
    <div id="fb-root"></div>
    <a id="fb-login-button" class="btn primary" data-loading-text="Realizando login...">Login with Facebook</a>
</div>

<div class="span4">
    <h3>Pessoas Online</h3>
    <ul id="contact-list"></ul>
</div>
<div class="span10">
    <h3>Chat</h3>

    <ul class="tabs" data-tabs="tabs">
        <li class="active"><a href="#home">Home</a></li>
    </ul>
    <ul id="chat-content" class="tab-content">
        <li id="home" class="active tab-pane">Foo bar Baz!</li>
    </ul>
</div>
